.el-row.content{
  padding:16px;

  .title{
    font-size:28px;
  }
  .el-input{
    margin:12px 0;
  }
  .el-button{
    width:100%;
    margin-top:12px;
    background:#1D8CE0;
    border-color:#1D8CE0;
    color:#fff;
  }
  .remember{
    height:30px;
    line-height:30px;
    text-align:left;
    font-size:14px;
    .remember-btn{
      float:left;
      margin:4px 10px 0 0px;
    }
    span{
      float:right;
      color:#999;
    }
  }
}
